.score_div {
    border-radius: 10px;
}

.score_div_error {
    animation: error 0.5s 2; /*IE*/
    animation-direction: alternate;
}

.score_div_right {
    animation: right 0.5s 2; /*IE*/
    animation-direction: alternate;
}

@keyframes error {
    from {
        background-color: #ffffff;
    }
    to {
        background-color: rgba(217, 92, 92, .95);
    }
}

@keyframes right {
    from {
        background-color: #ffffff;
    }
    to {
        background-color: rgba(91,189,114,.95);
    }
}

@font-face {
  font-family: 'cwTeXHei';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot);
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff) format('woff'),
       url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.ttf) format('truetype');
}
button , body {
  font-family: 'cwTeXHei', serif;
}
