.score_div {
    border-radius: 10px;
    animation-direction: alternate;
}

.score_div_error {
    animation: error 0.5s 2; /*IE*/
}

.score_div_right {
    animation: right 0.5s 2; /*IE*/
}

@keyframes error {
    from {
        background-color: #ffffff;
    }
    to {
        background-color: rgba(217, 92, 92, .95);
    }
}

@keyframes right {
    from {
        background-color: #ffffff;
    }
    to {
        background-color: rgba(91,189,114,.95);
    }
}
